* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-track {
  background-color: #202024;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #121214;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

:root {
  --primary: #7f6fa0;
  --anti-accent: #7c7c8a;
  --bg: #613594;
}

.github-btn {
  background: none;
  display: flex;
  border: none;
  width: 18%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  color: white;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
}

.github-img {
  width: 100%;
}

.wrapper {
  background: #202024;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 200px;
  border-radius: 8px;
  gap: 50px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.info {
  font-size: 30px;
  line-height: 160%;
  font-weight: 700;
}

.info input {
  background: none;
  border: none;
  width: 40px;
  padding: 5 px 10px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: var(--anti-accent);
}

.info input::-webkit-outer-spin-button,
.info input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.count {
  display: flex;
  gap: 16px;
  align-items: center;
}

.num {
  font-family: "Roboto Mono", monospace;
  font-size: 160px;
  line-height: 1;
  background: #29292e;
  padding: 30px 16px;
  border-radius: 8px;
}

.dots {
  font-family: "Roboto Mono", monospace;
  font-size: 160px;
  color: var(--primary);
}

.button {
  background: var(--primary);
  display: flex;
  border: none;
  border-radius: 84px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: white;
  gap: 15px;
  padding: 15px 20px;
  cursor: pointer;
}

.play-image {
  width: 30px;
}


.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202024;
  color: white;
}

.player {
  width: 640px;
  background-color: #29292e;
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  grid-gap: 16px;
  padding: 8px 24px;
  position: relative;
  border-radius: 64px;
}

.control, #current {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
}

#playbtn {
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  cursor: pointer;
}

#playbtn:hover {
  -webkit-text-fill-color: white;
}

.track_info {
  font-family: "Open Sans", sans-serif;;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}

#current {
  text-align: right;
}

.bar {
  --space: 4px; 
  background-color: #24242424; 
  overflow: hidden;
  left: var(--space);
  right: var(--space);
  top: var(--space);
  bottom: var(--space);
  position: absolute;
  border-radius: 64px;
  z-index: -2;
}

/* #progress {
  display: flex;
  width: var(--progress,40%);
  color: white;
  transition: all 1s linear;
  height: 100%;
} */